body {
  font-family: Arial, sans-serif;
  margin: 5px;
  padding: 10px;
  background-color: #4a4a4a;
}

header {
  background-color: #3b3939;
  border-bottom: 1px  #918e8e;
  padding: 1;
  text-align: center;
  

}

nav ul {
  list-style: none;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
   border: 1px solid #918e8e;
  border-radius: 10px;
}

nav li {
  margin-right: 10px;
}

nav a {
  color: #d9d9da;
  text-decoration: none;
}

nav a:hover {
  color: #d9d9da;
  border: 1px solid #918e8e;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

nav a:active {
  color: #ccc;
  border: 1px solid #918e8e;
  border-radius: 10px;
  
  
}

main {
  display: flex;
  background-color: #3b3939;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  border: 1px solid #918e8e;

}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #a7a7a7b9;
  border: 1px solid #484848;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
